@use '../../styles/scss/index' as *;

.logo {
  background: linear-gradient(to right, $heading-gradient-light);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: $font-size-24;
}

@media (max-width: 768px) {
  .logo {
    display: none;
  }
}
