@use '../../styles/scss/index' as *;

.projects {
  min-height: max-content;
  padding-block: $padding-80;

  @extend %flex-column;

  .heading {
    font-size: clamp(1.5rem, 1.5rem + 1vw, 48px);
    font-weight: $font-weight-700;
    color: var(--heading-color);

    padding-block: $padding-16;
  }

  .description {
    text-align: center;
    font-size: clamp(1rem, 1rem + 1vw, 32px);
    font-weight: $font-weight-400;
    color: $text-dark;

    padding-block: $padding-16;
  }

  .projects__container {
    @extend %flex-row;
    flex-wrap: wrap;
    gap: 30px;

    margin-top: 80px;
  }
}
