@use '../../styles/scss/index' as *;

.projects {
  min-height: max-content;
  padding-block: $padding-80;

  @extend %flex-column;

  .heading {
    font-size: clamp(1.5rem, 1.5rem + 1vw, 48px);
    font-weight: $font-weight-700;
    color: var(--heading-color);

    padding-block: $padding-16;
  }

  .description {
    text-align: center;
    font-size: clamp(1rem, 1rem + 1vw, 32px);
    font-weight: $font-weight-400;
    color: var(--text);

    padding-block: $padding-16;
  }

  .projects__container {
    // @extend %flex-row;
    // flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
    width: 100%;
    row-gap: 25px;
    margin-top: 80px;

    align-items: center;
    justify-content: center;
    & > div {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@media (max-width: 500px) {
  .projects {
    .projects__container {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }
}
