@use '../../styles/scss/index' as *;

.project__card {
  @extend %flex-column;
  width: 375px;
  height: 570px;

  background-color: $background-color-light;
  border-radius: 20px;
  box-shadow: 2px 2px 100px rgba(0, 0, 0, 0.2);

  overflow: hidden;

  .image {
    width: 100%;
    flex: 1 0 auto;
    max-height: 45%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .project__content {
    flex: 1 0 auto;
    max-height: 65%;
    @extend %flex-column;
    justify-content: initial;
    align-items: initial;

    padding: 30px;
    position: relative;

    > div {
      margin-bottom: 15px;
    }

    .title {
      font-size: clamp($font-size-16, 1rem + 1vw, $font-size-28);
      font-weight: $font-weight-500;
      color: $text-black;
      line-height: 26px;
    }

    .description {
      flex: 1 0 auto;
      font-size: clamp($font-size-12, 12px + 1vw, $font-size-18);
      font-weight: $font-weight-400;
      color: $text-black;
      line-height: 26px;
      text-align: justify;
    }

    .project__tech__stack {
      font-size: clamp($font-size-12, 12px + 1vw, $font-size-16);
      font-weight: $font-weight-600;
      color: $heading-color-light;
      line-height: 26px;

      span {
        font-size: clamp($font-size-12, 12px + 1vw, $font-size-16);
        font-weight: $font-weight-400;
        color: $heading-color-light;
        line-height: 26px;
      }
    }

    .project__links {
      @extend %flex-row;
      justify-content: space-between;
      font-size: clamp($font-size-12, 12px + 1vw, $font-size-16);
      font-weight: $font-weight-400;
      color: $text-black;
      line-height: 26px;
      margin: 0;
    }
  }
}

@media (max-width: 768px) {
  .project__card {
    width: 275px;
    min-height: 470px;
    max-height: 500px;

    .project__content {
      padding: 20px;

      .project__tech__stack {
        span {
          display: block;
        }
      }
    }
  }
}
