@use '../../styles/scss/index' as *;

.tech__stack {
  min-height: max-content;
  padding-block: $padding-80;

  @extend %flex-column;

  .heading {
    text-align: center;
    font-size: clamp(1.5rem, 1.5rem + 1vw, 48px);
    font-weight: $font-weight-700;
    color: var(--heading-color);

    padding-block: $padding-16;
  }

  .description {
    text-align: center;
    font-size: clamp(1rem, 1rem + 1vw, 32px);
    font-weight: $font-weight-400;
    color: var(--text);

    padding-block: $padding-16;
  }

  .tech__list {
    @extend %flex-row;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 80px;

    list-style: none;

    .tech__item {
      flex-grow: 0;
      flex-shrink: 0;
      width: 200px;
      aspect-ratio: 1;

      display: grid;
      place-items: center;

      img {
        display: block;
        width: 75%;
        aspect-ratio: 1;
      }
    }
  }
}

@media (max-width: 768px) {
  .tech__stack {
    .tech__list {
      .tech__item {
        width: 100px;
      }
    }
  }
}
