@import '../../styles/scss/index';

.footer {
  &__contact {
    @include align;

    > :nth-child(1) {
      flex: 0 0 150px;
    }

    > :nth-child(2) {
      flex: 1 0 auto;

      @include align($justify: flex-end);
      font-size: $font-size-18;
      font-weight: $font-weight-400;

      > :nth-child(n) {
        width: 200px;
      }
    }

    > :nth-child(3) {
      flex: 0 0 150px;
    }
  }

  > .divider {
    height: 2px;
    background-color: var(--text);
    opacity: 0.3;
  }

  &__navigation {
    padding-block: $padding-32;
    @include align;

    .nav {
      flex: 1 0 auto;
      @include align($justify: flex-start);

      li {
        padding: 8px 16px;
        list-style: none;
        font-size: $font-size-18;
        font-weight: $font-weight-400;
        color: var(--text);
      }
    }

    > :nth-child(2) {
      flex: 1 0 auto;
      text-align: end;
    }
  }
}

@media (max-width: 1200px) {
  .footer {
    &__navigation {
      .nav {
        display: none;
      }

      > :nth-child(2) {
        text-align: center;
        max-width: 80%;
      }
    }
  }
}

@media (max-width: 768px) {
  .footer {
    &__contact {
      flex-direction: column;

      > :nth-child(3) {
        flex-basis: 100px;
      }
    }
  }
}

@media (max-width: 500px) {
  .footer {
    &__contact {
      > :nth-child(2) {
        flex-direction: column;
        row-gap: 15px;

        > div {
          text-align: center;
        }
      }
    }
  }
}
