// Globals
$text-black: #000000;

// Light theme
$heading-color-light: #42446e;
$background-color-light: #ffffff;
$text-light: #a7a7a7;

// Dark theme
$heading-color-dark: #cccccc;
$background-color-dark: #191919;
$text-dark: #666666;

// Accent
$button-text-accent: #018c0f;
$button-background-accent: #d7ffe0;

// Gradients
$heading-gradient-light: #13b0f5, #e70faa;
