@use '../../styles/scss/index' as *;

.container {
  @extend %flex-row;
  justify-content: space-between;
  padding-block: 220px;
  color: inherit;

  > div {
    width: 50%;
    @extend %flex-column;
  }

  .heading {
    font-size: clamp(1.5rem, 1.5rem + 1vw, 58px);
    font-weight: $font-weight-700;

    .username {
      background: linear-gradient(to right, $heading-gradient-light);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    > div {
      width: 100%;
      text-align: start;
      color: $heading-color-light;
    }
  }

  .profile {
    --image-width: 350px;

    background: linear-gradient(to top, $heading-gradient-light);
    width: var(--image-width);
    aspect-ratio: 1;
    border-radius: 50%;

    img {
      width: calc(var(--image-width) - 20px);
      aspect-ratio: 1;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    justify-content: space-evenly;
    padding-block: 120px;
    row-gap: 100px;

    > .heading {
      width: 100%;

      > div {
        text-align: center;
      }
    }

    .profile {
      --image-width: 300px;
    }
  }
}
